@model Wq_Surveillance.Models.Dto.FormResDto
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var contextHost = HttpContextAccessor.HttpContext.Request.Host;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Form Data - WQS</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
  
    <style>
        .bsv {
            width: 275mm;
            padding: 15mm 20mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 0px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>

</head>
<body>
    <div class="container-fluid" style="float: left; position: fixed; padding-top: 20px; padding-bottom: 20px; top: 0px;background: #fff !important;z-index: 999;">
        <div style="float:left;">
            <a class="item" asp-area="" asp-controller="Dashboard" asp-action="Index">
                <img src="~/images/logos/header.png" class="img-responsive" alt="Ministry of Health &amp; Population" style="width: 50%;">
            </a>
        </div>
        <div style="clear:both;"></div>
        <div class="dropdown-divider" style="border-top: 1px solid #002f84;"></div>

        <div style="clear: both;"></div>
        @if (contextHost.Host.Contains("training"))
        {
            <div class="container-fluid" style="background:#0330467a; padding:5px; float:left;">
                <h5 style="margin-bottom:0px;">खानेपानी सुरक्षा योजनाको विस्तृत लेखाजोखा फाराम (WSP Implemented WSS)</h5>
            </div>
        }
        else
        {
            <div class="container-fluid" style="background:#e9ebf4; padding:5px; float:left;">
                <h5 style="margin-bottom:0px;">
                    खानेपानी सुरक्षा योजनाको विस्तृत लेखाजोखा फाराम (WSP Implemented WSS)
                </h5>
            </div>
        }

    </div>
    <div class="bsv" style="margin-top:165px;">


        <div class="table-responsive">
            <table class="table table-borderless" style="width:90%;">
                <tr><td>Name of schema</td><td>@Model.ProName</td></tr>
                <tr><td>Project code</td><td>@Model.ProCode</td></tr>
                <tr><td>Address</td><td>@Model.Address</td></tr>
                <tr><td>Total HH served</td><td>@Model.TotalHhServed</td> </tr>
                <tr>
                    <td>Population served</td>
                    <td>@Model.TotalPop</td>
                </tr>

            </table>
            <div style="color:#002F84;">
                <h4 style="text-align: center;">Sanitary Inspection</h4>
            </div>
            <br />
            <table class="table table-borderless" style="width:90%;">
                <tr>
                    <td>
                        पानी टंकि वरिपरि बार नभएको र छोप्ने ढक्कन नभएको कारण अनावस्यक मानिस तथा जनावर को प्रवेश तथा प्रदुषित गतिबिधि हुने गरेको
                    </td>
                    <td>@Model.ResorvoirSanitationCondition1</td>
                </tr>
                <tr>
                    <td>
                        पानी टंकि वरिपरि पेटि नभएको वा सतहको पानी तर्काउने ढल नभएको वा वरिपरि फोहर भएको कारण फोहर पानीको मिसावट हुनसक्ने सम्भावना भएको
                    </td>
                    <td>
                        @Model.ResorvoirSanitationCondition2
                    </td>
                </tr>

                <tr>
                    <td>
                        पानी टंकिको पर्खालमा चुहावट भएको या पाईप फिटिंगहरुमा चुहावट भएको कारण फोहर पानी को मिसावट हुनसक्ने सम्भावना भएको

                    </td>
                    <td>@Model.ResorvoirSanitationCondition3</td>
                </tr>
                <tr>
                    <td>
                        नियमित सफाइको अभावमा पानी टंकिमा फोहोर जमेको या पर्खालमा जैबिक सतह बनेको ले जैबिक प्रदुषण बढेको

                    </td>
                    <td>@Model.ResorvoirSanitationCondition4</td>
                </tr>
                <tr>
                    <td>
                        पानी टंकिको उचित सन्चालन नभएको कारण प्रसोधित पानी प्रदुषित भएको

                    </td>
                    <td>@Model.ResorvoirSanitationCondition5</td>
                </tr>
                
               
            </table>
        </div>
    </div>
    <div id="imgModal" class="modal fade">
        <div class="modal-dialog modal-lg" style="width: auto !important; display: block !important;">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
                    <br />
                    <center><img class="showimage img-fluid" src="" /></center>
                    <br />
                    <a class="dlod btn btn-outline-primary btn-sm" href="" download style="float:right;" title="Download"><i class="fa fa-download"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
