@model Wq_Surveillance.Models.Dto.FormSouDto
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var contextHost = HttpContextAccessor.HttpContext.Request.Host;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Form Data - WQS</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
  
    <style>
        .bsv {
            width: 275mm;
            padding: 15mm 20mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 0px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>

</head>
<body>
    <div class="container-fluid" style="float: left; position: fixed; padding-top: 20px; padding-bottom: 20px; top: 0px;background: #fff !important;z-index: 999;">
        <div style="float:left;">
            <a class="item" asp-area="" asp-controller="Dashboard" asp-action="Index">
                <img src="~/images/logos/nwash_logo.png" class="img-responsive" alt="Ministry of Water Supply &amp; Sanitation" style="width: 80%;">
            </a>
        </div>
        <div style="clear:both;"></div>
        <div class="dropdown-divider" style="border-top: 1px solid #002f84;"></div>

        <div style="clear: both;"></div>
        @if (contextHost.Host.Contains("training"))
        {
            <div class="container-fluid" style="background:#0330467a; padding:5px; float:left;">
                <h5 style="margin-bottom:0px;">खानेपानी सुरक्षा योजनाको विस्तृत लेखाजोखा फाराम (WSP Implemented WSS)</h5>
            </div>
        }
        else
        {
            <div class="container-fluid" style="background:#e9ebf4; padding:5px; float:left;">
                <h5 style="margin-bottom:0px;">
                    खानेपानी सुरक्षा योजनाको विस्तृत लेखाजोखा फाराम (WSP Implemented WSS)
                </h5>
            </div>
        }

    </div>
    <form method="post" asp-action="FormSouEditPost" asp-controller="Wqs">
        <input type="hidden" asp-for="FormId" />
    <div class="bsv" style="margin-top:165px;">


        <div class="table-responsive">
            <table class="table table-borderless" style="width:90%;">
                <tr><td>Name of schema</td><td>@Model.FormId</td></tr>
                <tr><td>Project code</td><td>@Model.ProCode</td></tr>
                <tr><td>Address</td><td>@Model.Address</td></tr>
                <tr><td>Total HH served</td><td>@Model.TotalHhServed</td> </tr>
                <tr>
                    <td>Population served</td>
                    <td>@Model.TotalPop</td>
                </tr>

            </table>
            <div style="color:#002F84;">
                <h4 style="text-align: center;">Sanitary Inspection</h4>
            </div>
            <br />
            <table class="table table-borderless" style="width:90%;">
                <tr>
                    <td>
                        मुहान क्षेत्रमा रुख बिरुवा नभएकोले बाढी पहिरोले मुहानमा प्रदूषण को सम्भावना भएको
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition1">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        खुल्ला दिसा पिसाब को कारण मुहान क्षेत्रमा जैविक प्रदूषणको संभावना
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition2">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        मुहान वरिपरि ढलको अभावमा जमिनको प्रदुषित पानी को प्रवेश
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition3">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        अनावश्यक मानिस तथा जनावरको मुहान क्षेत्रमा सजीलै पहुच
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition4">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        मुहान क्षेत्रमा सरसफाइको कमिले गर्दा प्रदूषण को सम्भावना
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition5">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        मुहान क्षेत्रमा रुख बिरुवा नभएकोले बाढि पहिरोले मुहानमा प्रदूषण को सम्भावना भएको
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition6">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        खुल्ला दिसा पिसाब को कारण मुहान क्षेत्रमा जैविक प्रदूषण को संभावना
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition7">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        पानीको मुहानमा खोला बाट पानी तर्काउदा अत्याधिक ठोस फोहर तथा धमीलोपनाको नियन्त्रणको अभाव
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition8">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        अनावश्यक मानिस तथा जनावरको मुहान क्षेत्रमा सजिलै पहुच
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition9">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        मुहान क्षेत्रमा सरसफाइको कमिले गर्दा प्रदूषण को सम्भावना
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition10">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        ट्युव वेलको हेड को वरीपरी पेटि नभएको कारण जमिनको फोहर पानी पाइप बाट भित्र प्रवेस हुनसक्ने सम्भावना
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition11">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        वरिपरि वातावरणमा खुल्ला दिसा पिसाब गरिने भएकोले जमिनको पानीमा जैबिक प्रदूषण हुनसक्ने सम्भावना
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition12">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        वरिपरि जमिनमा रसायनिक वा फोहर पानीको खुल्ला बिसर्जन भएको कारण जमिनको पानी प्रदुषित भएको
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition13">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        जमिनको पानीमा प्राकृतिक रुपमा रासायनिक मिसावट भएको
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition14">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        जमिन मुनि पानीको तिब्र रिचार्ज भएर वा तिब्र पम्पिंग भएको कारण सतहको फोहर पानी मिसावट भएको हुनसक्ने सम्भावना
                    </td>
                    <td>
                        <select class="form-control" asp-for="SourceSanitationCondition15">
                            <option value="छ">छ</option>
                            <option value="छैन">छैन</option>
                            <option value="आंसिक रुपमा छ">आंसिक रुपमा छ</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary" as>Save</button>
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Dashboard">Cancel</a>
        </div>
        </form>
    
</body>
</html>
