@model Wq_Surveillance.Models.Dto.Form2Dto
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var contextHost = HttpContextAccessor.HttpContext.Request.Host;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Form 2 Data - NWASH</title>
 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
  
    <style>
        .bsv {
            width: 275mm;
            padding: 15mm 20mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 0px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>

</head>
<body>
    <div class="container-fluid" style="float: left; position: fixed; padding-top: 20px; padding-bottom: 20px; top: 0px;background: #fff !important;z-index: 999;">
        <div style="float:left;">
            <a class="item" asp-area="" asp-controller="Dashboard" asp-action="Index">
                <img src="~/images/logos/nwash_logo.png" class="img-responsive" alt="Ministry of Water Supply &amp; Sanitation" style="width: 80%;">
            </a>
        </div>
        <div style="clear:both;"></div>
        <div class="dropdown-divider" style="border-top: 1px solid #002f84;"></div>

        <div style="clear: both;"></div>
        @if (contextHost.Host.Contains("training"))
        {
            <div class="container-fluid" style="background:#0330467a; padding:5px; float:left;">
                <h5 style="margin-bottom:0px;">अनुगमनको समयमा प्रणालीको अवस्था</h5>
            </div>
        }
        else
        {
            <div class="container-fluid" style="background:#e9ebf4; padding:5px; float:left;">
                <h5 style="margin-bottom:0px;">
                    अनुगमनको समयमा प्रणालीको अवस्था
                </h5>
            </div>
        }

    </div>
    <div class="bsv" style="margin-top:165px;">
         <form method="post" asp-action="Form2EditPost" asp-controller="Wqs">
            <input type="hidden" asp-for="FormId" />
            <div style="color:#002F84;">
                <h4 style="text-align: center;">योजना बारे सूचना</h4>
            </div>

        <div class="table-responsive">
            <table class="table table-borderless" style="width:90%;">
                <tr><td>Name of schema</td><td>data</td></tr>
                <tr><td>Project code</td><td>@Model.ProCode</td></tr>
                <tr><td>Address</td><td>@Model.Address</td></tr>
                <tr><td>Total HH served</td><td>@Model.TotalHhServed</td> </tr>
                <tr> <td>Population served</td> <td>@Model.TotalPop</td>
                </tr>
            </table>
            <div style="color:#002F84;">
                <h4 style="text-align: center;">
                    प्रणालीको अनुगमन गरेको स्थान  र अवस्था
                </h4>
            </div>
            <table class="table table-bordered" style="width:90%;">
                <thead>
                    <tr>
                        <th>स्थान</th>
                        <th>आयोजना अनुगमन गरेको स्थान</th>
                        <th>अवस्था</th>
                        <th>Remarks</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            मुहान
                        </td>
                        <td>
                            श्रोत क्षेत्रको संरक्षण, मुहानमा ढल व्यवस्थापन, मुहानमा वाह्य प्रदूषण नियन्त्रण, मुहान क्षेत्रमा जथाभावी पहुँच नियन्त्रणको अवस्था कस्तो रहेको छ ?
                        </td>
                            <td>
                                <select class="form-control" asp-for="SourceBasicEvaluation">
                                    <option value="नराम्रो">नराम्रो</option>
                                    <option value="ठिकै">ठिकै</option>
                                    <option value="राम्रो">राम्रो</option>
                                    <option value="धेरै राम्रो">धेरै राम्रो</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" asp-for="SourceBasicEvaluationRemarks" value="@Model.SourceBasicEvaluationRemarks" /></td>
                    </tr>
                    <tr>
                        <td>
                            प्रशोधन केन्द्र
                        </td>
                        <td>
                            "प्रशोधन केन्द्र उचित विधि अनुरुप संचालन र पानी परीक्षण गर्दाको अवश्था कस्तो छ?
                            ठुला कणहरुको नियन्त्रण, घुलित पदार्थ नियन्त्रण, व्याक्टेरिया नियन्त्रणको अवस्था कस्तो रहेको छ ?</
                        </td>
                            <td>
                                <select class="form-control" asp-for="TreatmentCenterBasicEvaluation">
                                    <option value="नराम्रो">नराम्रो</option>
                                    <option value="ठिकै">ठिकै</option>
                                    <option value="राम्रो">राम्रो</option>
                                    <option value="धेरै राम्रो">धेरै राम्रो</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" asp-for="TreatmentCenterBasicEvaluationRemarks" value="@Model.TreatmentCenterBasicEvaluationRemarks" /></td>
                    </tr>
                    <tr>
                        <td>
                            पानीपोखरी
                        </td>
                        <td>
                            पानी ट्याङ्कीबाट चुहावट नियन्त्रण, नियमित सरसफाई, भल्व बक्सबाट प्रदूषण नियन्त्रण भएको छ ?
                        </td>
                            <td>
                                <select class="form-control" asp-for="WaterReservoirBasicEvaluation">
                                    <option value="नराम्रो">नराम्रो</option>
                                    <option value="ठिकै">ठिकै</option>
                                    <option value="राम्रो">राम्रो</option>
                                    <option value="धेरै राम्रो">धेरै राम्रो</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" asp-for="WaterReservoirBasicEvaluationRemarks" value="@Model.WaterReservoirBasicEvaluationRemarks" /></td>
                    </tr>
                    <tr>
                        <td>
                            पाइप लाइन
                        </td>
                        <td>
                            पाइपको चुहावट नियन्त्रण, पाइपको संरक्षण, पाइपको ढल मिसावट नियन्त्रण, भल्व बक्स बाट प्रदूषण नियन्त्रण भएको छ?
                        </td>
                            <td>
                                <select class="form-control" asp-for="PipelineBasicEvaluation">
                                    <option value="नराम्रो">नराम्रो</option>
                                    <option value="ठिकै">ठिकै</option>
                                    <option value="राम्रो">राम्रो</option>
                                    <option value="धेरै राम्रो">धेरै राम्रो</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" asp-for="PipelineBasicEvaluationRemarks" value="@Model.PipelineBasicEvaluationRemarks" /></td>
                    </tr>
                    <tr>
                        <td>
                            भण्डारण तथा प्रयोग
                        </td>
                        <td>घरघरमा पानीको संरक्षण, चर्पिमा दिसा बस्ने बानी, घर आँगन सफा तथा हातधुने बानी नियमिति भएको छ ?</td>
                            <td>
                                <select class="form-control" asp-for="StorageUsageBasicEvaluation">
                                    <option value="नराम्रो">नराम्रो</option>
                                    <option value="ठिकै">ठिकै</option>
                                    <option value="राम्रो">राम्रो</option>
                                    <option value="धेरै राम्रो">धेरै राम्रो</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" asp-for="StorageUsageBasicEvaluationRemarks" value="@Model.StorageUsageBasicEvaluationRemarks" /></td>
                    </tr>
                </tbody>
            </table>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary" as>Save</button>
                    <a class="btn btn-secondary" asp-action="Index" asp-controller="Dashboard">Cancel</a>
                </div>
        </div>

        </form>
    </div>
 

</body>
</html>
