@model IEnumerable<Wq_Surveillance.Models.Tubewell>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var munCode = ViewData["munCode"] as string;

    // var sGrp = HttpContextAccessor.HttpContext.Session.GetInt32("SGroups");
    var sGrp = 1;
    var sMun = HttpContextAccessor.HttpContext.Session.GetInt32("SMunicipality");
    var sDcode = HttpContextAccessor.HttpContext.Session.GetInt32("SDistrict");
    var sProvince = HttpContextAccessor.HttpContext.Session.GetInt32("SProvince");
    var sn = 1;
}
<div class="table-responsive" style="width:85%;">
    <table id="tubewellTable" class="table table-bordered table-striped">
        <thead>
            <tr style="background: #e8ecfd;">
                <th>S. No.</th>
                <th>Name of Scheme</th>
                <th>Project Code</th>
                <th>Address</th>
                <th> Total HH served</th>
                <th>Population servede</th>
                <th>Total Score</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string uuid = item.Uuid;

                var plainTextBytes = System.Text.Encoding.UTF8.GetBytes(uuid);
                string encodedUUID = System.Convert.ToBase64String(plainTextBytes);
                <tr>
                    <td>@sn</td>
                    <td>@item.OwnerName</td>
                    <td>@item.CommunityName</td>
                    <td>@item.WardNo</td>
                    <td>@item.TubewellType</td>
                    <td>@item.TubewellType</td>
                    <td>@item.RecTime</td>
                    <td>@item.RecTime</td>
                    <td>
                        <a asp-controller="Home" asp-action="FormViewB" asp-route-encode="@encodedUUID" class="btn btn-sm btn-outline-primary" target="_blank">View1B</a>
                        @if (sGrp == 1)
                        {
                            <a asp-controller="Tubewell" asp-action="TubewellDataEdit" asp-route-id="@encodedUUID" class="btn btn-sm btn-outline-info" target="_blank">Edit</a>
                            <button class="btn btn-sm btn-outline-danger" onclick="delete_tubewell_data('@encodedUUID')">Delete</button>
                        }
                        else if (sGrp == 5)
                        {
                            if (item.MunCode == sMun.ToString())
                            {
                                <a asp-controller="Tubewell" asp-action="TubewellDataEdit" asp-route-id="@encodedUUID" class="btn btn-sm btn-outline-info" target="_blank">Edit</a>
                                <button class="btn btn-sm btn-outline-danger" onclick="delete_tubewell_data('@encodedUUID')">Delete</button>
                            }
                        }
                        else if (sGrp == 6)
                        {
                            if (item.MunCode == sMun.ToString())
                            {
                                <a asp-controller="Tubewell" asp-action="TubewellDataEdit" asp-route-id="@encodedUUID" class="btn btn-sm btn-outline-info" target="_blank">Edit</a>

                            }
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#tubewellTable').DataTable({
            "iDisplayLength": 10,
            "aLengthMenu": [[5, 10, 15, 25, 35, 50, 100, -1], [5, 10, 15, 25, 35, 50, 100, "All"]]
        });
    });

    function delete_tubewell_data(uuid) {
        if (confirm('Are you sure to delete this data?')) {
            $.ajax({
                type: "POST",
                url: '/Tubewell/TubewellDataDelete',
                data: { 'id': uuid },
                success: function (data) {
                    if (data == 1) {
                        alert("Data Deleted Successfully.");
                    } else {
                        alert("Something went wrong. Please try again.");
                    }
                    tdataLoad();
                },
                failure: function () {
                    alert('Something went wrong. Please try again');
                }
            });

        }
    }
</script>