@model Wq_Surveillance.Models.Dto.Form1BDto
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var contextHost = HttpContextAccessor.HttpContext.Request.Host;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Form - NWASH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .bsv {
            width: 275mm;
            padding: 15mm 20mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 0px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="float: left; position: fixed; padding-top: 20px; padding-bottom: 20px; top: 0px;background: #fff !important;z-index: 999;">
        <div style="float:left;">
            <a class="item" asp-area="" asp-controller="Dashboard" asp-action="Index">
                <img src="~/images/logos/header.png" class="img-responsive" alt="Ministry of Health &amp; Population" style="width: 50%;">
            </a>
        </div>
        <div style="clear:both;"></div>
        <div class="dropdown-divider" style="border-top: 1px solid #002f84;"></div>
        <div style="clear: both;"></div>
        @if (contextHost.Host.Contains("training"))
        {
            <div class="container-fluid" style="background:#0330467a; padding:5px; float:left;">
                <h5 style="margin-bottom:0px;">खानेपानी सुरक्षा योजनाको विस्तृत लेखाजोखा फाराम (WSP Implemented WSS)</h5>
            </div>
        }
        else
        {
            <div class="container-fluid" style="background:#e9ebf4; padding:5px; float:left;">
                <h5 style="margin-bottom:0px;">
                    खानेपानी सुरक्षा योजनाको विस्तृत लेखाजोखा फाराम (WSP Implemented WSS)
                </h5>
            </div>
        }
    </div>
    <div class="bsv" style="margin-top:165px;">
        <div class="table-responsive">
            <table class="table table-borderless" style="width:90%;">
                <tr><td>Name of schema</td><td>@Model.ProName</td></tr>
                <tr><td>Project code</td><td>@Model.ProCode</td></tr>
                <tr><td>Address</td><td>@Model.Address</td></tr>
                <tr><td>Total HH served</td><td>@Model.TotalHhServed</td> </tr>
                <tr>
                    <td>Population served</td>
                    <td>@Model.TotalBenificiaryPopulation</td>
                </tr>
            </table>
            <div style="color:#002F84;">
                <h4 style="text-align: center;">Score</h4>
            </div>
            <br />
            <table class="table table-borderless" style="width:90%;">
                <tr>
                    <td>Total score</td>
                    <td>@Model.TotalScore</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        @{
                            var status = Model.TotalScore < 10 ? "नराम्र" :
                            Model.TotalScore <= 20 ? "ठिकै" :
                            Model.TotalScore <= 30 ? "राम्रो" :
                            Model.TotalScore <= 40 ? "उत्कृष्ठ" : "Invalid Score";
                        }
                        @status
                    </td>
                </tr>
                <tr>
                    <td>टोली गठन</td>
                    <td>@Model.TeamFormationScore</td>
                </tr>
                <tr>
                    <td>प्रणालीको विश्लेषण</td>
                    <td>@Model.SystemAnalysisScore</td>
                </tr>
                <tr>
                    <td>प्रदूषण पहिचान र जोखिमको विश्लेषण र नियन्त्रणका उपाय</td>
                    <td>@Model.PollutionRiskControlMeasureScore</td>
                </tr>
                <tr>
                    <td>सुधार योजना</td>
                    <td>@Model.ImprovementPlanScore</td>
                </tr>
                <tr>
                    <td>अनुगमन</td>
                    <td>@Model.MonitoringScore</td>
                </tr>
                <tr>
                    <td>प्रमाणीकरण</td>
                    <td>@Model.CertificationScore</td>
                </tr>
                <tr>
                    <td>सहयोगी क्रियाकलाप</td>
                    <td>@Model.CollaborativeActivitiesScore</td>
                </tr>
                <tr>
                    <td>दस्तावेज तयारी तथा पुनरावलोकन</td>
                    <td>@Model.ReviewScore</td>
                </tr>
            </table>
        </div>
        <h5>Images</h5>
        <table border="0">
            @if (!String.IsNullOrEmpty(Model.TeamFormationPhoto) || !String.IsNullOrEmpty(Model.SystemAnalysisPhoto) || !String.IsNullOrEmpty(Model.PollutionRiskControlPhoto) || !String.IsNullOrEmpty(Model.ImprovementPlanPhoto) || !String.IsNullOrEmpty(Model.MonitoringPhoto) || !String.IsNullOrEmpty(Model.CertificationPhoto) || !String.IsNullOrEmpty(Model.CollaborativeActivitiesPhoto) || !String.IsNullOrEmpty(Model.ReviewPhoto))
            {
                <tr>
                    @if (!String.IsNullOrEmpty(Model.TeamFormationPhoto))
                    {
                        <td>
                            <img src="/wqs_images/wqs/@Model.TeamFormationPhoto[0]/@Model.TeamFormationPhoto[1]/@Model.TeamFormationPhoto[2]/@Model.TeamFormationPhoto"
                                 width="150"
                                 class="clickable-image"
                                 data-toggle="modal"
                                 data-target="#imgModal" />
                            <div>Team Formation </div>

                        </td>
                    }
                    @if (!String.IsNullOrEmpty(Model.SystemAnalysisPhoto))
                    {
                        <td>
                            <img src="/wqs_images/wqs/@Model.SystemAnalysisPhoto[0]/@Model.SystemAnalysisPhoto[1]/@Model.SystemAnalysisPhoto[2]/@Model.SystemAnalysisPhoto"
                                 width="150" class="clickable-image" data-toggle="modal" data-target="#imgModal" />
                            <div>System Analysis </div>

                        </td>
                    }
                    </tr>
                <tr>
                    @if (!String.IsNullOrEmpty(Model.PollutionRiskControlPhoto))
                    {
                        <td>
                            <img src="/wqs_images/wqs/@Model.PollutionRiskControlPhoto[0]/@Model.PollutionRiskControlPhoto[1]/@Model.PollutionRiskControlPhoto[2]/@Model.PollutionRiskControlPhoto"
                                 width="150"
                                 class="clickable-image"
                                 data-toggle="modal"
                                 data-target="#imgModal" />
                            <div>Pollution Risk Control </div>
                        </td>
                    }
                    @if (!String.IsNullOrEmpty(Model.ImprovementPlanPhoto))
                    {
                        <td>
                            <img src="/wqs_images/wqs/@Model.ImprovementPlanPhoto[0]/@Model.ImprovementPlanPhoto[1]/@Model.ImprovementPlanPhoto[2]/@Model.ImprovementPlanPhoto"
                                 width="150"
                                 class="clickable-image"
                                 data-toggle="modal"
                                 data-target="#imgModal" />
                            <div>Improvement Plan </div>
                        </td>
                    }
                </tr>
                <tr>
                    @if (!String.IsNullOrEmpty(Model.MonitoringPhoto))
                    {
                        <td>
                            <img src="/wqs_images/wqs/@Model.MonitoringPhoto[0]/@Model.MonitoringPhoto[1]/@Model.MonitoringPhoto[2]/@Model.MonitoringPhoto"
                                 width="150"
                                 class="clickable-image"
                                 data-toggle="modal"
                                 data-target="#imgModal" />
                            <div>Monitoring </div>
                        </td>
                    }
                    @if (!String.IsNullOrEmpty(Model.CertificationPhoto))
                    {
                        <td>
                            <img src="/wqs_images/wqs/@Model.CertificationPhoto[0]/@Model.CertificationPhoto[1]/@Model.CertificationPhoto[2]/@Model.CertificationPhoto"
                                 width="150"
                                 class="clickable-image"
                                 data-toggle="modal"
                                 data-target="#imgModal" />
                            <div>Certification </div>
                        </td>
                    }
                </tr>
                <tr>
                    @if (!String.IsNullOrEmpty(Model.CollaborativeActivitiesPhoto))
                    {
                        <td>
                            <img src="/wqs_images/wqs/@Model.CollaborativeActivitiesPhoto[0]/@Model.CollaborativeActivitiesPhoto[1]/@Model.CollaborativeActivitiesPhoto[2]/@Model.CollaborativeActivitiesPhoto"
                                 width="150"
                                 class="clickable-image"
                                 data-toggle="modal"
                                 data-target="#imgModal" />
                            <div>Collaborative Activities </div>
                        </td>
                    }
                    @if (!String.IsNullOrEmpty(Model.ReviewPhoto))
                    {
                        <td>
                            <img src="/wqs_images/wqs/@Model.ReviewPhoto[0]/@Model.ReviewPhoto[1]/@Model.ReviewPhoto[2]/@Model.ReviewPhoto"
                                 width="150"
                                 class="clickable-image"
                                 data-toggle="modal"
                                 data-target="#imgModal" />
                            <div>Review Photo</div>
                        </td>
                    }
                </tr>
            }
        </table>
        <div id="imgModal" class="modal fade">
            <div class="modal-dialog modal-lg" style="width: auto !important; display: block !important;">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
                        <br />
                        <center><img class="showimage img-fluid" src="" /></center>
                        <br />
                        <a class="dlod btn btn-outline-primary btn-sm" href="" download style="float:right;" title="Download"><i class="fa fa-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  


    <script>
               $(document).ready(function () {
            // Bind the modal event
            $('#imgModal').on('show.bs.modal', function (event) {
                var image = $(event.relatedTarget).attr('src'); // Get the clicked image
                $(".showimage").attr("src", image);
                $(".dlod").attr("href", image);
            });

            // Manually close modal when clicking the close button
            $('.close').on('click', function () {
                $('#imgModal').modal('hide'); // Hide the modal when 'X' is clicked
            });
        });

    </script>

</body>
</html>