@model Wq_Surveillance.Models.Dto.Form1BDto
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var contextHost = HttpContextAccessor.HttpContext.Request.Host;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>WQS</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
   
    <style>
        .bsv {
            width: 275mm;
            padding: 15mm 20mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 0px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>

</head>
<body>
    <div class="container-fluid" style="float: left; position: fixed; padding-top: 20px; padding-bottom: 20px; top: 0px;background: #fff !important;z-index: 999;">
        <div style="float:left;">
            <a class="item" asp-area="" asp-controller="Dashboard" asp-action="Index">
                <img src="~/images/logos/header.png" class="img-responsive" alt="Ministry of Health &amp; Population" style="width: 50%;">
            </a>
        </div>
        <div style="clear:both;"></div>
        <div class="dropdown-divider" style="border-top: 1px solid #002f84;"></div>

        <div style="clear: both;"></div>
 
            <div class="container-fluid" style="background:#e9ebf4; padding:5px; float:left;">
                <h5 style="margin-bottom:0px;">
                    खानेपानी सुरक्षा योजनाको विस्तृत लेखाजोखा फाराम (WSP Implemented WSS)
                </h5>
            </div>
      

    </div>
    <div class="bsv" style="margin-top:165px;">
 <form method="post" asp-action="FormBEditPost" asp-controller="Wqs">
            <input type="hidden" asp-for="FormId" />

        <div class="table-responsive">
            <table class="table table-borderless" style="width:90%;">
                    <tr>
                        <td>Name of schema</td>
                        <td><input type="text" class="form-control" asp-for="Address" /></td>
                    </tr>
                    <tr>
                        <td>Project code</td>
                        <td><input type="text" class="form-control" asp-for="ProCode" value="@Model.ProCode" /></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" class="form-control" asp-for="Address" value="@Model.Address" /></td>
                    </tr>
                    <tr>
                        <td>Total HH served</td>
                        <td><input type="number" class="form-control" asp-for="TotalHhServed" value="@Model.TotalHhServed" /></td>
                    </tr>
                    <tr>
                        <td>Population served</td>
                        <td><input type="number" class="form-control" asp-for="TotalPop" value="@Model.TotalPop" /></td>
                    </tr>
            </table>
            <div style="color:#002F84;">
                <h4 style="text-align: center;">Score</h4>
            </div>
            <br />
            <table class="table table-borderless" style="width:90%;">
                    <tr>
                        <td>Total score</td>
                        <td>
                            @{
                                // Safely parse all the scores to integers (default to 0 if null or invalid)
                                int teamFormationScore = int.TryParse(Model.TeamFormationScore, out var tfs) ? tfs : 0;
                                int systemAnalysisScore = int.TryParse(Model.SystemAnalysisScore, out var sas) ? sas : 0;
                                int pollutionRiskControlMeasureScore = int.TryParse(Model.PollutionRiskControlMeasureScore, out var prcms) ? prcms : 0;
                                int improvementPlanScore = int.TryParse(Model.ImprovementPlanScore, out var ips) ? ips : 0;
                                int monitoringScore = int.TryParse(Model.MonitoringScore, out var ms) ? ms : 0;
                                int certificationScore = int.TryParse(Model.CertificationScore, out var cs) ? cs : 0;
                                int collaborativeActivitiesScore = int.TryParse(Model.CollaborativeActivitiesScore, out var cas) ? cas : 0;
                                int reviewScore = int.TryParse(Model.ReviewScore, out var rs) ? rs : 0;

                                // Calculate the total score
                                Model.TotalScore = teamFormationScore + systemAnalysisScore +
                                pollutionRiskControlMeasureScore + improvementPlanScore +
                                monitoringScore + certificationScore +
                                collaborativeActivitiesScore + reviewScore;
                            }
                            @Model.TotalScore
                            <input type="hidden" asp-for="TotalScore" value="@Model.TotalScore" />
                        </td>
                    </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        @{
                            var status = Model.TotalScore < 10 ? "नराम्र" :
                            Model.TotalScore <= 20 ? "ठिकै" :
                            Model.TotalScore <= 30 ? "राम्रो" :
                            Model.TotalScore <= 40 ? "उत्कृष्ठ" : "Invalid Score";
                        }
                        @status
                    </td>
                </tr>

                <tr>
                    <td>
                        टोली गठन
                    </td>
          
                 <td><input type="text" class="form-control" asp-for="TeamFormationScore" value="@Model.TeamFormationScore" /></td>

                </tr>
                <tr>
                    <td>
                        प्रणालीको विश्लेषण
                    </td>
                        <td><input type="text" class="form-control" asp-for="SystemAnalysisScore" value="@Model.SystemAnalysisScore" /></td>
                    </tr>
                <tr>
                    <td>
                        प्रदूषण पहिचान र जोखिमको विश्लेषण र नियन्त्रणका उपाय
                    </td>
                        <td><input type="text" class="form-control" asp-for="PollutionRiskControlMeasureScore" value="@Model.PollutionRiskControlMeasureScore" /></td>
                    </tr>
                <tr>
                    <td>
                        सुधार योजना
                    </td>
                        <td><input type="text" class="form-control" asp-for="ImprovementPlanScore" value="@Model.ImprovementPlanScore" /></td>
                    </tr>
                <tr>
                    <td>
                        अनुगमन
                    </td>
                        <td><input type="text" class="form-control" asp-for="MonitoringScore" value="@Model.MonitoringScore" /></td>
                    </tr>
                <tr>
                    <td>
                        प्रमाणीकरण
                    </td>
                        <td><input type="text" class="form-control" asp-for="CertificationScore" value="@Model.CertificationScore" /></td>
                    </tr>
                <tr>
                    <td>
                        सहयोगी क्रियाकलाप
                    </td>
                        <td><input type="text" class="form-control" asp-for="CollaborativeActivitiesScore" value="@Model.CollaborativeActivitiesScore" /></td>
                </tr>
                <tr>
                    <td>
                        दस्तावेज तयारी तथा पुनरावलोकन
                    </td>
                        <td><input type="text" class="form-control" asp-for="ReviewScore" value="@Model.ReviewScore" /></td>
                </tr>
            </table>
        </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary" as>Save</button>
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Dashboard">Cancel</a>
            </div>
      </form>
    </div>
</body>
</html>
