@model Wq_Surveillance.Models.Dto.Form1ADto
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var contextHost = HttpContextAccessor.HttpContext.Request.Host;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Form1 Data</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">


    <style>
        .bsv {
            width: 275mm;
            padding: 15mm 20mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 0px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>

</head>
<body>
    <div class="container-fluid" style="float: left; position: fixed; padding-top: 20px; padding-bottom: 20px; top: 0px;background: #fff !important;z-index: 999;">
        <div style="float:left;">
            <a class="item" asp-area="" asp-controller="Dashboard" asp-action="Index">
                <img src="~/images/logos/nwash_logo.png" class="img-responsive" alt="Ministry of Water Supply &amp; Sanitation" style="width: 80%;">
            </a>
        </div>
        <div style="clear:both;"></div>
        <div class="dropdown-divider" style="border-top: 1px solid #002f84;"></div>

        <div style="clear: both;"></div>
       
        
            <div class="container-fluid" style="background:#e9ebf4; padding:5px; float:left;">
<h5 style="text-align:center; margin-bottom:0px;">
                खानेपानी सुरक्षा थोजना कायान्वियन लेखाजोखा फारम
                </h5>
            </div>
      
    </div>
    <div class="bsv" style="margin-top:165px;">
        <div style="color:#002F84;">
            <h4 style="text-align: center;">योजना बारे सूचना</h4>
        </div>

        <div class="table-responsive">
            <table class="table table-borderless" style="width:90%;">
                <tr><td>Name of schema</td><td>@Model.ProName</td></tr>
                <tr><td>Project code</td><td>@Model.ProCode</td></tr>
                <tr><td>Address</td><td>@Model.Address</td></tr>
                <tr><td>Total HH served</td><td>@Model.TotalHhServed</td> </tr>
                <tr><td>Population served</td><td>@Model.TotalPop</td>
                </tr>
                </table>
            <div style="color:#002F84;">
                <h4 style="text-align: center;">खानेपानी सुरक्षा योजनाको अवस्था</h4>
            </div>
            <br />
            <table class="table table-borderless" style="width:90%;">
                 <table class="table table-bordered" style="width:90%;">
                    <tr>
                            <th>खानेपानी सुरक्षा योजनाको मुख्य गतिविधि</th>
                            <th>अवस्था</th>
                        <th>कैफियत</th>
                        </tr>
                        <tr>
                            <td>खानेपानी सुरक्षा योजना टोली गठन तथा कार्यभार वहन</td>
                            <td>@Model.WspInitiativeStatus1</td>
                            <td>@Model.WspInitiativeRemarks1</td>
                        </tr>
                        <tr>
                            <td>मुहानदेखि बितरण प्रणालीसम्म योजनाको विश्लेषण तथा जोखिम पहिचान</td>
                        <td>@Model.WspInitiativeStatus2</td>
                        <td>@Model.WspInitiativeRemarks2</td>
                    </tr>
                        <tr>
                            <td>जोखिम नियन्त्रण तथा प्रभावकारीता विश्लेषण</td>
                        <td>@Model.WspInitiativeStatus3</td>
                        <td>@Model.WspInitiativeRemarks3</td>
                    </tr>
                        <tr>
                            <td>अनुगमन योजना तयारी, कार्य संचालन तथा नियमित प्रमाणीकरण</td>
                        <td>@Model.WspInitiativeStatus4</td>
                        <td>@Model.WspInitiativeRemarks4</td>
                    </tr>
                        <tr>
                            <td>उपभोक्ता सन्तुष्टि पहिचान तथा जनचेतना कार्यक्रम</td>
                        <td>@Model.WspInitiativeStatus5</td>
                        <td>@Model.WspInitiativeRemarks5</td>
                    </tr>
                        <tr>
                            <td>पानी शुद्धिकरण योजनाको कागजात तयारी</td>
                        <td>@Model.WspInitiativeStatus6</td>
                        <td>@Model.WspInitiativeRemarks6</td>
                    </tr>
                        <tr>
                            <td>पानी वितरणको विवरण</td>
                        <td>@Model.WspInitiativeStatus7</td>
                        <td>@Model.WspInitiativeRemarks7</td>
                    </tr>
                    </table>
              
                <tr>
                    <td>
                        खानेपानी सुरक्षा योजनाको अवस्था : 
                    </td>
                    <td>@Model.WspInitiativeSecurityPlan</td>
                </tr><br />
                <tr>
                    <td>
                        पानीको गुणस्तर अवस्था : 
                    </td>
                    <td>@Model.WspInitiativeWaterQualityStatus</td>
                </tr>
            </table>

            <div style="color:#002F84;">
                <h4 style="text-align: center;">पानीजन्य रोगको अबस्था</h4>
            </div>
            <br />
            <tr>
                <td>
                    झाडापखाला लाग्नेको संख्या :
                </td>
                <td>@Model.WspInitiativeInfectedByDiarrhea</td>
                <br />
            </tr>
            <tr>
                <td>
                    झाडापखालाबाट मर्नेको संख्या :
                </td>
                <td>@Model.WspInitiativeDiedByDiarrhea</td>
                <br />
            </tr>
              <tr>
                <td>
                    कायक्षेत्रमा सामान्य पानीजन्य रोग :
                </td>
                <td>@Model.WspInitiativeWaterDisease</td>
                <br />
            </tr>
            <tr>
                <td>
                    सूचनाको स्रोत :
                </td>
                <td>@Model.WspInitiativeNoticeSource</td>
                <br />
            </tr>
            <div style="color:#002F84; padding: 10px;">
                <h4 style="text-align: center;">लेखाजोखाको नतिजा :</h4>
            </div>
            <br />
            <td>@Model.WspInitiativeWrittenResult</td>
            <div style="color:#002F84; padding: 10px;">
                <h4 style="text-align: center;">आयोजना ब्यबस्यापनको लागि सु्ाव :</h4>
            </div>
            <td>@Model.WspInitiativeSuggestion</td>

        </div>
    </div>
    <div id="imgModal" class="modal fade">
        <div class="modal-dialog modal-lg" style="width: auto !important; display: block !important;">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
                    <br />
                    <center><img class="showimage img-fluid" src="" /></center>
                    <br />
                    <a class="dlod btn btn-outline-primary btn-sm" href="" download style="float:right;" title="Download"><i class="fa fa-download"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $('img').on('click', function () {
                var image = $(this).attr('src');
                //alert(image);
                $('#imgModal').on('show.bs.modal', function () {
                    $(".showimage").attr("src", image);
                    $(".dlod").attr("href", image);
                });
            });
        });
    </script>

</body>
</html>
